[Desktop Entry]
Name=Gerenciador de Tarefas
Comment=Lista CPU/MEM e encerra processos
Exec=taskmanager-ubuntu
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=System;Monitor;
